#about-section {
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
}

#about-header {
  font-size: 2.5rem;
  color: rgb(8, 51, 84);
}

#hero-img {
  width: 500px;
  position: relative;
  z-index: 0;
}

#office-img {
  width: 500px;
  height: 325px;
  position: relative;
}

#about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

#office-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 50px 0;
  margin-bottom: 100px;
  width: 90%;
}

#office-blurb {
  margin-right: 50px;
  text-align: left;
}

#about-blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  color: white;
  background-image: linear-gradient(60deg, var(--background-color) 0 80%, rgb(179, 179, 92) 99% 100%);
  word-wrap: break-word;
  position: relative;
  z-index: 1;
  right: 5%;
  padding: 10px;
}

#about-blurb > p {
  width: 90%;
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen AND (max-width: 450px) {
  #about-header {
    font-size: 1.5rem;
    color: rgb(8, 51, 84);
  }

  #about-section {
    width: 90vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  #hero-img {
    width: 175px;
    position: relative;
    z-index: 0;
  }

  #office-img {
    width: 175px;
    height: 125px;
    position: relative;
  }

  #office-blurb {
    margin-right: 20px;
    text-align: left;
    font-size: 0.5rem;
  }

  #about-blurb {
    width: 150px;
    height: 30px;
    font-size: 0.5rem;
  }

  #about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
  }
  
  #office-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 25px 0;
    width: 90vw;
  }
}
