#header {
  width: 100vw;
  position: relative;
  height: 750px;
  display: flex;
  align-items: center;
  background-image: url("../../assets/images/hero.png");
  background-size: 1800px 900px;
  background-position: right;
}

#signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(50deg, var(--background-color) 0 75%, rgb(179, 179, 92) 99% 100%);
  width: 50%;
  min-width: 200px;
  height: 750px;
  text-align: left;
}

#signup-logo {
  width: 350px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  margin-right: 230px;
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen AND (max-width: 450px) {
  #header {
    width: 100vw;
    height: 300px;
    background-image: url("../../assets/images/hero.png");
    background-size: 400px 300px;
    background-position: right;
    margin: 0;
  }

  #signup-logo {
    width: 100px;
    margin: 5px 0;
    margin-right: 82px;
  }

  #signup-container {
    width: 50%;
    height: 300px;
    min-width: 0;
  }
}