#header {
  width: 100vw;
  height: 750px;
  display: flex;
  align-items: center;
  background-image: url("../../assets/images/hero.png");
  background-size: 1800px 900px;
  background-position: right;
}

#signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(50deg, var(--background-color) 0 75%, rgb(179, 179, 92) 99% 100%);
  width: 30%;
  height: 750px;
  text-align: left;
}

#signup-logo {
  width: 350px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  margin-right: 230px;
}
